@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Building your first app to Create Read Update Delete data for your imaginary bookshop</p>
</div>
